<article class="post">
  <h1><%= @post.title %></h1>
  <% if @post.header_image.attached? %>
    <%= image_tag @post.header_image.variant(resize: "750x450"), class: "post-header-image" %>
  <% end %>
  <section class="post-body">
    <%= @post.content_html.html_safe %>
  </section>
</article>
