<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <%= stylesheet_link_tag "mailer" %>
  </head>
  <body>
    <div class="content">
      <%= yield %>
      <hr />
      <p class="disclaimer">
        If you'd like to unsubscribe from this email, just write me. I'll build an unsubscribe link soon.
      </p>
    </div>
  </body>
</html>
